.container{
    display: grid;
    grid-template-columns: 50% auto;
    width:100%;
    background-color:#2e9ce6;
    padding:50px;
}
ul{
    list-style-type: none;
    margin: 0 0 0.2em 0;
}
.col{
    padding: 0.1em;
}
.color-dark{
    background-color: #2885c4;
}